

.main {
  padding: 0 100px;

  .title {
    font-size: 15px;

    .card-subtitle {
      margin: 7px 0;
    }

    .description{
      line-height: 1;
      .cheese-link {
      font-size: 30px;
      font-family: 'Exo 2', sans-serif;
      font-weight: 300;
      text-decoration: none;
      border-bottom: 1px dotted #707070;

      &:hover {
        border-bottom: 1px dotted #007bff;
      }

      span {
        font-size: 20px;
      }
      }
    }

    .logo-small {
      height: 30px;
      margin: 8px 0;
    }

    p {
      line-height: 1.1;
    }
  }

  @media (max-width: 768px) {
    padding: 20px 60px;
  }

  @media (max-width: 576px) {
    padding: 10px 20px;
  }
}